Hello !
<a href="{{ url('admin_index') }}">Administration (Réservé à Nate, mwaha)</a>
<br /><a href="{{ url('report') }}">Voir le rapport</a>

<table>
    <tr>
        <th>Rang</th>
        <th>Nom</th>
        <th>Elo</th>
    </tr>
    {% for p in players %}
    <tr>
        {% if p.ex %}
            <td>{{ p.rank }}<sup>e</sup> ex</td>
        {% else %}
            <td>{{ p.rank }}<sup>e</sup></td>
        {% endif %}
        <td>{{ p.name }}</td>
        <td>{{ p.elo }}</td>
    </tr>
    {% endfor %}
</table>